/* Resolução Exercício 1 */
.btn-interativo {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Define as propriedades que serão animadas e a duração */
}

.btn-interativo:hover {
    background-color: #2980b9;

    transform: scale(1.1);
    /* Aumenta o tamanho em 10% (Exercício 1.3) */
}

/* Resolução Exercício 2 */
.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    /* Cor de destaque */
    border-radius: 50%;

    animation: rodar 1s linear infinite;
    /* Aplica a animação linear e infinita */
}

/* Definição do movimento de 0 a 360 graus */
@keyframes rodar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 1. Entrada Animada (Fade-in e deslize) */
.card-produto {
    opacity: 0;
    transform: translateY(20px);
    animation: entradaSuave 0.6s ease forwards;
}

@keyframes entradaSuave {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 2. Hover na Imagem */
.card-produto:hover .foto {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

/* 3. Botão que desliza para cima */
.btn-comprar {
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.3s ease;
}

.card-produto:hover .btn-comprar {
    transform: translateY(0);
    opacity: 1;
}

/* Resolução Exercício 4 */
@media (prefers-reduced-motion: reduce) {
    * {
        /* Desativa todas as animações e transições instantaneamente */
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    /* Alternativa: remover o efeito de scale para evitar tonturas */
    .card-produto:hover .foto {
        transform: none;
    }
}